
body{
    position: relative;
}
h1, h2, h3, ul{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 800px;
}
/*navbar*/
nav.navbar{
    position: fixed;
}
.nav-holder{
    position: absolute;
    width: 200px;
    top: 0;
    bottom: 0;
    background: #4a4d59;
    overflow: hidden;
    z-index: 100;
}
.nav-holder a{
    color: #fff;
}
.button-nav{
    position: fixed;
    top: 0;
    left: 0;
    background: #4a4d59;
    z-index: 100;
    border-radius: 0 5px 5px 0;
}
.icon-bar{
    border: 1px solid #fff;
}
.nav>li>a:hover, .nav>li>a:focus{
    color: #6C7B8B;
}
.nav a.active{
    color: #6C7B8B;
    background: #CAE1FF;
}
/*End of navbar*/
/*Header*/
header{
    background: #eaecf1;
    padding-top: 20px;
}            


.logo {
position: absolute;
top: calc(100% - 64px);
width: calc(100% - 30px);
text-align: right;
}
.logo a {
display: inline-block;
height: 64px;
width: 64px;
background: url(/images/favicon.ico) no-repeat;
text-indent: 99999px;
overflow: hidden;
opacity: 0.7;
}

.login-form>*{ 
    float: right;
    width: 70%;
}
.login-form>a{
    text-align: center;
}

.carousel-inner .item img{
    margin: 0 auto;
    height: 200px;

}
.glyphicon1{
    position: absolute;
    top:calc(50% - 10px);
    left:calc(50% - 10px);
}
.logout>*{
    display: block;
    float: right;
    width: 70%;
    text-align: center;
    margin-bottom: 10px;
}

/*End of header*/
/*.promo{
    background: #e0e3ea;
}*/
/*Main block*/
main{
    background: #d8dae3;
    padding: 20px 0;
}
.article{
    border-bottom: 1px solid #444b58;
    padding: 20px 0;
    text-align: center;
    position: relative;
}
.article img{
    max-width: 200px;
    display: inline-block;
}
.article p{
    text-align: left;
}
.article h3{
    margin-bottom: 10px;
}
.article-left img{
    float: left;
    margin-right: 10px;
}
.article-right img{
    float: right;
    margin-left: 10px;
}
.article-none img{
    display: none;
}
.advertise{
    background: #b8bdc9;
    padding: 10px;
    position: relative;
    cursor: pointer;
}
.edit{
    position: absolute;
    top: 20px;
    right: 0;
    border: 2px solid #b8bdc9;
    border-radius: 2px;
    padding: 2px 5px;
}
/*End of main block*/
footer{
    background: #636b7b;
    padding: 20px 0;
}
.logo-footer{
    position: relative;
    display: inline-block;
    text-align: left;
    opacity: 1;
}
.navbar-toggle[aria-expanded="true"]+div{
    animation-duration: 0.1s;
    transition-timing-function: ease;
    animation-fill-mode: forwards;
    animation-name: drop_in;
}
.navbar-toggle[aria-expanded="true"]{
    animation-duration: 0.1s;
    transition-timing-function: ease;
    animation-fill-mode: forwards;
    animation-name: drop_in1;    
}
.design{
    padding: 10px;
}
/*Contacts Page*/
.contats{
    list-style: none;
    margin-bottom: 20px;
}
.contacts>li{
    display: block;
    margin-bottom: 20px;
}
.contacts>li>*{
    float: left;
}
.photo{
    width: 200px;
    margin-right: 20px;
}

@keyframes drop_in{
    0%{
        left:-200px;
        opacity: 0;
    }
    100%{
        left:0;
        opacity: 1;
    }
}
@keyframes drop_in1{
    0%{
        left:0px;
    }
    100%{
        left:200px;
    }
}

@media (max-width:1200px){
    .navbar-toggle{
        display: block;
    }
    .navbar-collapse.collapse{
        display: none !important;
    }
    .collapse.in{
        display: block !important;
    }
    .nav-holder{
        left:-200px;
        opacity: 0;
    }
}


.editor input[type='text']{
    background-color: transparent; 
    width: 100%
}

.editor form textarea {

        min-height: 50px;
        padding: 5px;
        font-size: 13px;
        font-family: Arial, sans-serif;
        background-color: transparent; 
}

.editor .noscroll {
        overflow: hidden;
}

.editor form .hiddendiv {
        display: none;
        white-space: pre-wrap;
        min-height: 50px;
        font-family: Arial, sans-serif;
        font-size: 13.5px;
        overflow: hidden;
        padding: 5px;
        word-wrap: break-word;
}
p{
   text-indent: 20px;
}
input[checkbox]{
    padding: 5px;
    background-color: red; 
    
}
label{
    padding: 5px 0px;
}
/* go top */
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

/* galery fancybox*/
/**
*
* thumb img класс для 
*
*/

.thumb img { 
  filter: none;  /*IE6-9 */
  -webkit-filter: grayscale(0); 
  border-radius:5px; 
  background-color: #fff; 
  border: 1px solid #ddd; 
  padding:5px; 
} 
.thumb img:hover { 
  filter: gray; /* IE6-9 */ 
  -webkit-filter: grayscale(1); 
} 
.thumb { 
  padding:5px; 
}

.fancybox-overlay {
    background: rgba(0, 0, 0, 0.4);
}
/**/
.plus{
    background: url(/images/plus.png) no-repeat scroll 0 0;
}
.deg{
    background: url(/images/minus.png) no-repeat scroll 0 0;
}
.pd_btn{
    display: block;
    float: left;
    width: 22px;
    height: 22px;
    border: 1px solid #CAE1FF;
    -moz-border-radius: 12px; /*закругляем углы для Mozilla  */
    -webkit-border-radius: 12px;/* закругляем углы для Chrome, Safari   */
    border-radius: 12px; /*закругляем углы для остальных браузеров  */
    cursor: pointer;
}
.exercise{
    display: inline-block;
    border: 3px solid #FFF;
    padding: 1px;
    font-size: 11px;
    margin: 0px 0px 0 3px;
    background-color: rgba(255, 255, 255, 0.25);
    -moz-border-radius: 12px; /*закругляем углы для Mozilla  */
    -webkit-border-radius: 12px;/* закругляем углы для Chrome, Safari   */
    border-radius: 12px; /*закругляем углы для остальных браузеров  */ 
}



.exercise span{
    font-size: 14px;
    text-align: center;
    background-color: transparent;
    float:left;
    padding: 0 3px;
    
}

.exercises{
    
    display: block;
    clear: both;
}
.exercises_container{
    border: solid 1px #000;
    padding: 5px 15%;
    margin-bottom: 10px;
    min-height: 30px;
    width: 100%;
}
.container_add_ex{
    display: inline-block;
    border: solid 1px #000;
    width: 100%;
    padding: 2px;
}


div.sortable {
    width: 100px;
    background-color: lightgrey;
    font-size: large;
    float: left;
    text-align: center; border: medium solid black;
    padding: 10px;
}
.article_list>ul{
    list-style: none;
}
.article_list>ul>li{
display: block;

}
.add_article{
    margin-bottom: 10px;
}
.add_article a{
    display: inline-block;
    border: 1px solid #444b58;
    padding: 3px 5px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
}
.edit_action{
    right: 20px;
    top: 5px;
    border: 2px solid #444b58;
}
.exercises_container .ex{
    width: 40%;
}
.exercise {
    width: 100%;
    cursor: move;
    
}
.container_add_ex .exercise {min-width: 80%;}
.message{
    display: block;
    text-align: center;
    color: red;
    border: 1px solid red;
    font-size: 20px;
}
.editor select{
    border: 1px solid grey;
    padding: 3px 0 3px ;
    width:100px;
}
span.diagnosis{
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    padding: 0 5px;
}
div.diagnosis{
    padding: 0 3px;
}
.user_card{
    position: relative;
    width: 100%;
    border-bottom: 1px solid #080808;
    margin-bottom: 10px;
}
form.exercises{
    margin-top: 5px;
}
div.more{
    width: 30px;
    height: 30px;
    padding: 7px;
    background: cornflowerblue;
    position: absolute;
    border-radius: 3px; 
    
    margin-top: 5px; 
    right: 2px;
    bottom: 3px;
    cursor: pointer;
}
div.more span{
    text-align: center;
}
input.save[type="button"]{
    width: 25%;
    display: inline-block;
   
    margin-top: 0px;
    margin-bottom: 5px;
}
#exercise_bank{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 90%);
    padding: 5px 10px;
    border-radius: 10px;
}
#pusher{
    width:100%;

}

.user_roles{
    margin: 10px 0px;
    text-align: center;
}
.user_roles a{
    display: inline-block;
    border: 1px solid #444b58;
    padding: 3px 5px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
}
